
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="DefaultContent">
        This page will display an example of a final version of the Products API Function that includes connection with Cosmos Db.<br />
        Note that for this to work you need to have followed the description and added the relevant npm package.<br />
        You also need to get and configure your configuration details as retrieved by the calls to GetEnvironmentVariable.
        Information will be displayed in
    </div><div id="timeLeft" style="font-size:larger">--m --s</div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="js/productFunction2.js"></script>
    <pre id="help" class="prettyprint lang-cs" style="display:none"></pre>
</body>
</html>


