
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="DefaultContent">
        This page will display an example of a first version of the Orders API Function with implemented methods for local connection.<br />
        It will not contain the code for connecting it to Cosmos Db. It will display this information in
    </div><div id="timeLeft" style="font-size:larger">--m --s</div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="js/orderFunction1.js"></script>
    <pre id="help" class="prettyprint lang-cs" style="display:none"></pre>
</body>
</html>


